{% extends 'base.html' %}
{% block head %}
<title>Optimization run</title>
{% endblock %}
{% block body %}
<p> nb_iter_opti : <b> {{data.nb_iter_opti}} </b></p>
<p> nb_iter_alice : <b> {{data.nb_iter_alice}} </b></p>
<p>
    initial set :
    <table border="1">
    <tr>
        <th>  </th>
        {% for k in range(data.initial_set_length) %}
            <th> value {{ k+1 }} </th>
        {% endfor %}
    </tr>
    {% for i in range(data.nb_parameters) %}
        <tr>
            {% for j in range(data.initial_set_length + 1) %}
                 <th>
                     {{ data.parameter_names_and_values[i][j] }}
                 </th>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</p>

<table border="1">
    {% for i in range(data.nb_iter_opti + 1) %}
        <tr>
                <th>
                    {% if i == 0 %}
                    initial step
                    {% else %}
                    optimisation step #{{i}}
                    {% endif%}
                </th>
            {% for j in range(data.initial_set_length) %}
                <th>
                    id : {{results[i][j].id}}<br>
                    error list : {{results[i][j].errors}}<br>
                    mean  : {{results[i][j].mean_error}}<br>
                    std : {{results[i][j].std_error}}<br>
                    label : {{results[i][j].label}}
                </th>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}