{% extends 'base.html' %}


{% block head %}
<title>Optimization</title>
{% endblock %}


{% block body %}

<h1> Optimization of cold atoms experiment </h1>

<form action="/optimization/setup" method="POST">
<p>
    nb_iter_opti : <input type="text" name="nb_iter_opti" value="{{ data.nb_iter_opti }}" >


</p>
<p>
    nb_iter_alice :
    <input type="text" name="nb_iter_alice" value="{{ data.nb_iter_alice }}">


</p>
<p>
    initial_set_length :
    <input type="text" name="initial_set_length" value="{{ data.initial_set_length }}">

</p>

<p> initial values for the parameters : </p>


<table border="1">
    <tr>
        <th>  </th>
        {% for k in range(data.initial_set_length) %}
            <th> value {{ k+1 }} </th>
        {% endfor %}
    </tr>


    {% for i in range(data.nb_parameters) %}
        <tr>
            {% for j in range(data.initial_set_length + 1) %}
                 <th>
                     {% if j == 0 %}
                     {{data.parameter_names_and_values[i][j]}}
                     {% else %}
                     <input type="text" name="{{i}},{{j}}" value="{{ data.parameter_names_and_values[i][j] }}" >
                     {% endif %}
                 </th>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<input type="submit" value="Save all changes">
</form>

<p> press "o" or click the button bellow to start the optimization</p>
<form method="POST">
<input type="submit" value="Optimize" accesskey="o" name="optimize_button">
</form>

{% endblock %}
